#b_canvas {
    display: block;
    position: relative;
    width: 1000px;
    height: 600px;
    border: 1px dotted #FB054B;
    margin: 0 auto;
    background-color: #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#b_container_lines {
    position: absolute;
    width: 100%;
    height: 100%;
    stroke: #FB054B;
    stroke-width: 8px;
}

.b_item_draggable {
    postion: absolute;
    width: auto;
    height: auto;
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid #FB054B;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.overflowHidden {
    overflow: hidden;
}

.b_item_draggable:hover {
    /*border-color: #47cf73;*/
}


.b_item_draggable_header {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 26px;
    padding: 4px 6px;
    background-color: #FB054B;
    color: #ffffff;
    cursor: pointer;
}



.b_item_draggable_content {
    display: block;
    margin-top: 26px;
}


.b_button_newLine {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FB054B;
    border-radius: 4px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}